<div class="container-fluid mgt1">
    <div class="row">
        <div class="col">
            <article class="bigText">Upload your patient medical records here</article>
            <form>
                <div class="input-group">
                    <div class="custom-file">
                        <label for="file-upload" class="custom-file-label">Browse to choose a file to upload</label>
                        <input id="file-upload" type="file" name="upload" class="custom-file-input" (change)="updateCustomFileLabel();"/>
                    </div>
                    <div class="input-group-append">
                        <button (click)="uploadFile();" class="btn btn-primary">Upload</button>
                    </div>
                </div>
            </form>
            <button routerLink="" class="btn btn-primary siteGradient marginTop10 callToActionButton">Log Out</button>
        </div>
    </div>
</div>