<div class="container-fluid mg1">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm">
            <article class="bigText">Welcome to the Cloud One Integrated Demo platform.</article>
            <article>This platform can be used to Demo, multiple cloud one products at once.</article>
        </div>
        <img src="/assets/img/cloudone.png" alt="Cloud One" class="col-lg-4 col-md-4 col-sm"/>
    </div>
</div>
<div class="container-fluid mg1">
    <table class="table">
        <tr>
            <th class="bigTextBold">Version 1</th>
            <th class="bigTextBold">Version 2</th>
            <th class="bigTextBold">Version 3 - Current</th>    
        </tr>
        <tr>
            <td>
                <div>
                    <article>Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger">Application Security</span>
                        <span> (Available)</span>
                    </article> 
                </div>
            </td>
            <td>
                <div>
                    <article>Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger">Conformity</span>
                        <span> (Integrated with the Cloud One environment)</span>
                    </article>
                </div>
            </td>
            <td>
                <div>
                    <article>Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger">Network Security</span>
                        <span> (Preview released, currently testing integration)</span>
                    </article>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <article>Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger">Workload Security</span>
                        <span> (Available)</span>
                    </article>
                </div>
            </td>
            <td>
                <div>
                    <article>Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger">File Storage Security</span>
                        <span> (Available)</span>
                    </article>
                </div>
            </td>
            <td>
                <div>
                    <article>Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger">Container Security</span>
                        <span> (Implementation in progress)</span>
                    </article>
                </div>
            </td>
        </tr>
    </table>
    <!-- <div class="row">
        <div class="col">
            <div class="mgt1 mgb1">
                <div class="bigTextBold mgt1">Version 1</div>
                <table>
                    <tr class="mgt1">
                        <table class="mgt1">
                            <tr>Cloud One</tr>
                            <tr>
                                <span class="alt-red text-stronger">Application Security</span>
                                <span> (Available)</span>
                            </tr>
                        </table>
                    </tr>
                    <tr class="mgt1">
                        <table class="mgt1">
                            <tr>Cloud One</tr>
                            <tr>
                                <span class="alt-red text-stronger">Workload Security</span>
                                <span> (Available)</span>
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col leftBorder">
            <div class="mgt1 mgb1">
                <div class="bigTextBold mgt1">Version 2</div>
                <table>
                    <tr class="mgt1">
                        <table class="mgt1">
                            <tr>Cloud One</tr>
                            <tr>
                                <span class="alt-red text-stronger">Conformity</span>
                                <span> (Integrated with the Cloud One environment)</span>
                            </tr>
                        </table>
                    </tr>
                    <tr class="mgt1">
                        <table class="mgt1">
                            <tr>Cloud One</tr>
                            <tr>
                                <span class="alt-red text-stronger">File Storage Security</span>
                                <span> (Available)</span>
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col leftBorder">
            <div class="mgt1 mgb1">
                <div class="bigTextBold">Version 3 - Current</div>
                <table>
                    <tr class="mgt1">
                        <table class="mgt1">
                            <tr>Cloud One</tr>
                            <tr>
                                <span class="alt-red text-stronger">Network Security</span>
                                <span> (Preview released, currently testing integration)</span>
                            </tr>
                        </table>
                    </tr>
                    <tr class="mgt1">
                        <table class="mgt1">
                            <tr>Cloud One</tr>
                            <tr>
                                <span class="alt-red text-stronger">Container Security</span>
                                <span> (Implementation in progress)</span>
                            </tr>
                        </table>
                    </tr>
                </table>
            </div>
        </div>
    </div> -->
</div>
<div class="container-fluid mg1 mgb1">
    <span class="bigTextBold">Upcoming</span>
    <article class="mgt1 mgb1">Auto-remediation | Host-based Container protection with Workload Security | GCP Workloads | AWS Lambda Functions | Misconfigurations for Conformity</article>
</div>