<div class="container-fluid mg1">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm">
            <article class="bigText" i18n="welcome bigText|page header">Welcome to the Cloud One Integrated Demo platform.</article>
            <article i18n="welcome subText|page description">This platform can be used to Demo, multiple cloud one products at once.</article>
        </div>
        <img src="assets/img/cloudone.png" alt="Cloud One" class="col-lg-4 col-md-4 col-sm"/>
    </div>
</div>
<div class="container-fluid mg1">
    <table class="table">
        <tr>
            <th class="bigTextBold" i18n="welcome version 1|version 1">Version 1</th>
            <th class="bigTextBold" i18n="welcome version 2|version 2">Version 2</th>
            <th class="bigTextBold" i18n="welcome version 3|version 3">Version 3 - Current</th>
        </tr>
        <tr>
            <td>
                <div>
                    <article i18n="cloud one title|cloud one title">Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger" i18n="appsec title|application security product title">Application Security</span>
                        <span i18n="available|demo is available in this version of the sandbox"> (Available)</span>
                    </article> 
                </div>
            </td>
            <td>
                <div>
                    <article i18n="cloud one title|cloud one title">Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger" i18n="conformity title|conformity product title">Conformity</span>
                        <span i18n="available|demo is available in this version of the sandbox"> (Available)</span>
                    </article>
                </div>
            </td>
            <td>
                <div>
                    <article i18n="cloud one title|cloud one title">Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger" i18n="networksec title|network security product title">Network Security</span>
                        <span i18n="available in preview|sandbox demo is in integration phase, testing is in progress"> (Preview released, currently testing integration)</span>
                    </article>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <article i18n="cloud one title|cloud one title">Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger" i18n="workloadsec title|workload security product title">Workload Security</span>
                        <span i18n="available|demo is available in this version of the sandbox"> (Available)</span>
                    </article>
                </div>
            </td>
            <td>
                <div>
                    <article i18n="cloud one title|cloud one title">Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger" i18n="fss title|file storage security product title">File Storage Security</span>
                        <span i18n="available|demo is available in this version of the sandbox"> (Available)</span>
                    </article>
                </div>
            </td>
            <td>
                <div>
                    <article i18n="cloud one title|cloud one title">Cloud One</article>
                    <article>
                        <span class="alt-red text-stronger" i18n="containersec title|container security product title">Container Security</span>
                        <span i18n="in progress|development is in progress to integrate demo to sandbox"> (Implementation in progress)</span>
                    </article>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="container-fluid mg1 mgb1">
    <span class="bigTextBold" i18n="upcoming features|upcoming features to sandbox">Upcoming</span>
    <article class="mgt1 mgb1" i18n="upcoming features list text|inline list of all features to be integrated into the demo sandbox">Auto-remediation | Host-based Container protection with Workload Security | GCP Workloads | AWS Lambda Functions | Misconfigurations for Conformity</article>
</div>