<div class="container-fluid header mgt1">
  <nav>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/" class="nav-link">
          <img class="siteLogo" src="../assets/img/tm-logo-desktop.png"
              alt="Trend Micro Logo" />
        </a>
      </li>
      <!-- TODO: Create a modal window for Differental vertical and Contact us links -->
      <!-- <li class="offset-xs-1 offset-sm-1 offset-md-3 offset-lg-4">Different Vertical</li>
      <li><a href="/about-us">About Us</a></li> 
      <li>
        <input type="button" onclick="location.href='cloudone.trendmicro.com';" class="btn tm-red-bg" value="Contact Us"/>
      </li> -->
      <li class="nav-item"><a href="/" class="nav-link active" data-toggle="pill">Home</a></li>
      <li class="nav-item"><a href="/welcome" class="nav-link" data-toggle="pill">Welcome</a></li>
      <li class="nav-item"><a href="/environment" class="nav-link" data-toggle="pill">Environment</a></li>
      <li class="nav-item"><a href="/attacks" class="nav-link" data-toggle="pill">Attacks</a></li>
      <li class="nav-item"><a href="/about-us" class="nav-link" data-toggle="pill">About Us</a></li>
    </ul>
  </nav>
</div>
<!-- <hr> -->
<!-- <div class="container-fluid header pd1">
  <nav>
    <ul class="displayInline">
      <li><a href="/">Home</a></li>
      <li><a href="/welcome">Welcome</a></li>
      <li><a href="/environment">Environment</a></li>
      <li><a href="/attacks">Attacks</a></li>
    </ul>
  </nav>
</div> -->
<div class="alert alert-blue alert-dismissible fade show" role="alert">
    <strong>Due to COVID-19</strong>, please refrain from coming in if you are feeling any flu-like symptoms
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&#215;</span>
    </button>
</div>

<router-outlet></router-outlet>

<div>
  <hr>
  <div class="container-fluid">
    <h6>Useful Links</h6>
    <ul>
      <li>
        <a href="https:/cloudone.trendmicro.com">Trend Micro Cloud One</a>
      </li>
      <li>
        <a href="#">Cloud One Conformity Onboarding</a>
      </li>
      <li>
        <a href="https://cloudconformity.com">Cloud One Conformity</a>
      </li>
      <li>
        <a href="#">Trend Micro Blog</a>
      </li>
    </ul>
  </div>
</div>