<div id="banner" class="row col-lg col-md col-sm" onload="modalOnLoad()">
  <img src="/assets/img/homepage_banner.jpg" alt="homepage_banner" class="img"/>
  <div class="col bannerText">
    <div class="bannerTextBox">
      <article class="bigText">Welcome to</article>
      <article class="bigTextBold">TM Health</article>
      <article class="bigTextBold">Care Center</article>
  </div>
  </div>
  <div class="col">
    <form action="http://localhost:3000/login/login" method="POST" class="pd1 mg1 form-style"> <!-- col-xs-4 col-sm-4 col-md-5 col-lg-5 -->
      <h3>Login</h3>
      <div class="row form-group mg1">
        <input type="text" placeholder="User ID" [formControl]="username" class="col form-control mgr1"/>
        <input type="password" placeholder="Password" [formControl]="password" class="col form-control"/>
      </div>
      <!-- <div class="row form-group pd1">
        <input type="checkbox" class="form-control mgr1"/>
        <label>Remember my User ID</label>
      </div> -->
      <div class="container-fluid mg1 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember my User ID</label>
      </div>
      <!-- <input type="button" class="btn tm-red-bg text-stronger" value="Please login"/> -->
      <button class="btn alt-red-bg text-strong col-lg col-md col-sm" (click)="login()">Please login</button>
      <div class="row form-group">
        <a href="#" class="col alt-red pd1 mgr1">Forgot User ID?</a>
        <a href="#" class="col alt-red pd1">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>
<div id="myModal" class="modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">What would you like to do today?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span>We have two options to proceed with the Cloud One Demo</span>
        <ul>
          <li>
            You can book a demo with a Sales Engineer here
            <form action="mailto:george_davis@trendmicro.com" method="GET">
              <input name="subject" type="text" hidden/>
              <textarea name="body" hidden></textarea>
              <input type="submit" class="btn tm-red-bg text-strong" value="Book a demo" />
            </form>
          </li>
          <li>Do-It-Yourself Hands-on Cloud One experience</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
  function modalOnLoad() {
    console.log("OnLoad called...");
    $('#myModal').modal('show')
    // $('#myModal').modal({
    //   keyboard: true,
    //   show: true,
    //   focus: true,
    //   backdrop: false
    // })
  }
</script>