<div class="container-fluid mgt1">
    <div class="row">
        <div class="col">
            <article class="bigText">Some of the most common attacks in the industry</article>
            <p>These attacks can be protected in many different ways which are laid out below.</p>
            <div>
                <button class="btn tm-red-bg" (click)="remoteCmdExec()">Test Attack</button>
                <button class="btn tm-red-bg" (click)="workloadAttackExec()">Attack Workload</button>
                <button class="btn tm-red-bg" (click)="conformityCfnExec()">Generate Cloud Misconfiguration</button>
            </div>
        </div>
        <div class="col">
            <img src="/assets/img/attacker.jpg" alt="Demo Attacks" />
        </div>
    </div>
</div>